
.media-main-img{
  position:absolute;
  top:64px;
  left:10px;
}

.media-entertain-video{
  width: 100%;
  object-fit: cover;
  position: relative;
}
.headingmedia{
  padding-top: 195px;
  padding-left: 107px;
}
.mainhead{
  color: #FFF;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.2px;
    letter-spacing: -0.32px;
    margin-bottom: 33px;
}
.subhead{
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
letter-spacing: -0.32px;
margin-left: 3px;
}
.btn{
  display: inline-flex;
height: 61.19px;
padding: 20px 46px 21.19px 48px;

align-items: center;
gap: 9.16px;
flex-shrink: 0;

}
.platforms{
color: #050505;
text-align: center;
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 55px; /* 125% */
letter-spacing: -0.32px;
margin-top: 40px;
}
.platformspara{
color: rgba(0, 0, 0, 0.80);
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
letter-spacing: -0.32px;
}
.case-mainheadname{
color: #050505;
text-align: center;
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 55px; /* 125% */
letter-spacing: -0.32px; 
margin-top: 40px;
}
.media-case-para{
color: rgba(0, 0, 0, 0.80);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 160% */
letter-spacing: -0.32px;
margin-top: 28px;
}

.mediaimg{
  /* position: relative; */
  background-image: url("../../public/images/newmediadown.png");
  width: 100%;
  /* height: fit-content; */
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-left: 12px; */
}
.media-img-section{
  height: 355px;
  margin-top: 71px;
}
.lab-img-section img{
  width: 100%;
}

.labimg .lab-data-media{
  position: absolute;
  top: 30%;
  left: 45%;
  width: 511px;
height: 367.38px;
/* padding: 8px; */
margin-top: -64px ;
}

.lab-data-media{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
}

.media-bg-pink{
background-color: #EF7179;;
}
.media-card-subtitle{
  color: rgba(255, 255, 255, 0.80);

}
.doc{
  color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 25.6px; /* 182.857% */
letter-spacing: 1px;
text-transform: uppercase;
}
.boxtext{
  color: rgba(0, 0, 0, 0.70);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 360;
  line-height: 21.6px;
  letter-spacing: -0.32px;
  text-align: inherit;
/* width: 306px; */
}
.boxhead{
  color: #050505;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px;
margin-left: 17px;
}

.Bb-1::after{
    content: "";
    border-bottom: 2px solid #FF4925;
    width: 90%;
    display: block;
    margin: auto;
    margin-top: -26px;
 
}

.Bb-2::after{
  content: "";
  border-bottom: 2px solid #1A4AB9;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: -26px;

}
.Bb-3::after{
  content: "";
  border-bottom: 2px solid #00B686;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: -26px;

}
.Bb-4::after{
  content: "";
  border-bottom: 2px solid #00B686;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: -26px;

}
.Bb-5::after{
  content: "";
  border-bottom: 2px solid #FFD703;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: -26px;

}
.Bb-6::after{
  content: "";
  border-bottom: 2px solid #FF4925;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: -26px;

}

.unified-logo{
  height: 43px;
    width: 43px;
}

.unlock-logo-1{
  height: 52px;
    width: 43px;
}

.Built-back-colour{
  height: 285px;
  /* padding: 24px; */
  position: relative;
  border-radius: 25px;
}

.card-text-3{
  font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.8px;
    letter-spacing: -0.32px;
    color: rgba(255, 255, 255, 0.70)!important;
    /* margin-left: 25px; */
    
}

.right-media-Corner{
  position: absolute;
 
  
  width: 150px;
 
  right: -1px;
    top: 0%;
}

.built-corner-image{
  width: 100%;
  height: 1%;
  border: 2px solid #1a4ab9;
  border-top-right-radius: 25px;
}

.ReAD-More-media{
  font-size: 16px;
}


