.dsheaderclass {
  margin-top: 110px;
  margin-bottom: 50px;
}
.dshleftclass {
  text-align: start;
}
.dsheadimage {
  width: 70%;
  height: 420px;
  margin-left: 175px;
}
.dshp1 {
  color: #0e1318;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.dshheader1 {
  margin-top: 15px;
  color: #0e1318;
  font-size: 39px;
  font-weight: 800;
  line-height: 48px;
}
.dshp2 {
  margin-top: 25px;
  color: #0e1318;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.dshbutton1 {
  margin-top: 44px;
  display: inline-flex;
  min-width: 125px;
  padding: 8px 24.525px 8px 24.725px;
  align-items: center;
  border-radius: 800px;
  border: 2px solid #0160ff;
  background: #0160ff;
}
.dshbutton1text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.dssection2class {
  background: #ebf5ff;
}
.dsfasterclass {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.dsfasterhead {
  color: #0e1318;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 44px;
}
.dsfasterpara {
  color: #0e1318;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 16px;
}
.dskeyfeaturesclass {
  background: #334252;
}
.keyfeaturehead {
  color: #f8f9fa;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  padding-bottom: 40px;
}
.dskeyclass {
  padding-top: 65px;
}
.keyfeaturescardheadclass {
  display: flex;
}
.keycardhead {
  color: #f8f9fa;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 23px;
}
.keyplussymbol {
  margin-top: 2px;
}
.keyfeaturecard {
  border-left: 1px solid #525e6b;
  color: white;
  padding-left: 30px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0px !important;
  background-color: transparent !important;
  margin-left: 6px;
  padding-right: 40px;
  padding-bottom: 50px;
  height: 300px;
}
.dskeycardbutton {
  background-color: transparent !important;
  border: none !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 16px;
}
.dskeycardbutton:focus {
  outline: 0px;
}
.dsarrowsvg {
  margin-left: 15px;
  margin-bottom: 16px;
}
.dsbuttontext {
  margin-left: -5px;
  color: #f6bf42;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
}
.keycardheading {
  color: #f8f9fa;
  font-size: 24.1px;
  font-weight: 700;
  line-height: 32px;
}
.keycardpara {
  color: #f8f9fa;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.contentclass {
  margin-top: 96px;
  margin-bottom: 96px;
}
.contentheading {
  color: #0e1318;
  text-align: center;
  font-size: 31px;
  font-weight: 800;
  line-height: 44px;
  margin-bottom: 56px;
}
.contentimageclass {
  width: 100%;
  height: 100%;
}
.contentparahead1{
    color: #0E1318;
font-size: 12px;
font-weight: 700;
line-height: 16px;
text-transform: uppercase;
}
.contenttextheading{
    color: #0E1318;
font-size: 23.1px;
font-weight: 700;
line-height: 32px;
margin-top: 15px;
}
.contentpara{
    color: #0E1318;
font-size: 15px;
font-weight: 400;
line-height: 22px;
margin-top: 8px;
}
.cardcolumnclass{
    padding: 50px;
    margin-top: 40px;
}
.contentclassbutton
{
    display: flex;
    border: none !important;
    background-color: white;
margin-top: 25px;
}
.contentclassbutton:focus{
    outline: none;
}
.contentsvgclass{
    margin-left: 7px;
    margin-top: 6px;
}
.contentbuttontext{
    color: #0160FF;
font-size: 15px;
font-weight: 700;
line-height: 22px;
}