.contact{
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 500;
    border: 1px solid blue;
}

.logo-main{
  width: 38px;
  height: 24px;
  margin-top: 15px!important;
  margin-right: 10px;
}
.logo-text{
  margin-top: 10px;
}
.navbar-just-up{
  justify-content: space-evenly;
}

.data{
color: #0046E8;
font-size: 19.60px;
font-family: Roboto;
font-weight: 200;
line-height: 30.49px;
letter-spacing: 0.39px;
word-wrap: break-word

}
.observe{
color: #0046E8;
font-size: 19.60px;
font-family: Roboto;
font-weight: 800;
line-height: 30.49px;

}
.slide{
  width: 100%;
}

/* .expertise{
    margin-left: 50px;
} */
.homenavigateclass:hover{
  text-decoration: none;
}
.navlinksdropdown{
  margin-top: 15px;
  background-color: rgba(255, 255, 255);
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}
/* .navlinkgifclass{
  width: fit-content;
  height: fit-content;
} */
.navcard:hover{
  text-decoration: none;
}
.navcard2:hover{
  text-decoration: none;
}
.navcard2 .dropdown-item:hover{
  background-color: #074ff7!important;
  color: white !important;
  border-radius: 10px !important;
}
.navcard2 .dropdown-item{
  font-size: 20px !important;
  /* color: grey; */
  font-weight: 500;
}
.comingsoonclass{
  display: flex;
  flex-direction: column;
}
.acceleratorsclass{
  color: rgba(0, 70, 232, 0.69);
/* font-size: 14px; */
font-style: normal;
font-weight: 500;
line-height: 18.2px;
border-radius: 242px;
border: 1px solid #0046E8;
padding: 10px;
margin-right: 42px;
}
.acceleratorsclass:focus-visible{
  outline: 0px !important;
}

.acceleratorsclass:focus{
  outline: 0px !important;
}


@media only screen and (min-width: 320px) and (max-width: 468px)  {
.navbar{
  padding: 0px;
}
.navbar-light .navbar-toggler {
margin-top: 10px;
margin-bottom: 10px;
}

.mobile-res{
  display: none!important;
}
.expertise{
  margin-left: 0px!important;
}
.acceleratorsclass{
  margin-right: 0px;
  font-size: 10px;
  padding: 8px 12px !important;
  margin-bottom: 15px;
  margin-top: 10px;
  
}
.contact {
  margin-bottom: 20px!important;
}
.navbar-nav .dropdown-menu {
  transform: translateX(-2%)!important;
}
.insights-width-parent .insights-width{
  /* width: 0% !important; */
  flex-wrap: nowrap!important;
  
}
.navcard2 .dropdown-item {
  font-size: 6px !important;
}
.navlinkgifclass{
  width: 100px !important;
  height: 116px !important;
}
.navcard{
  margin-left: -20px !important;
}
.navcard2{
  padding-left: 0px!important;
}
.navbar-nav .dropdown-menu {
height: 146px;
width: 200px !important;
margin-bottom: 10px;
}
.navcard2.data-eng-pad{
  padding-left: 1px !important;
}
.logo{
  margin-left: -92px;
}
.n-w{
  width: 100px;
}


}

@media only screen and (min-width: 468px) and (max-width: 760px)  {
  .mobile-res{
    display: none!important;
  }
  .navbar-light .navbar-toggler {
    margin-top: 10px;
    margin-bottom: 10px;
    }
  .expertise{
    margin-left: 0px!important;
  }
  .navbar{
    padding: 0px;
  }
  .acceleratorsclass{
    margin-right: 0px;
    font-size: 10px;
    padding: 8px 12px !important;
    margin-bottom: 15px;
    margin-top: 10px;
    
  }
  .contact {
    margin-bottom: 20px!important;
  }
  .navbar-nav .dropdown-menu {
    transform: translateX(3%)!important;
  }
  .insights-width-parent .insights-width{
    /* width: 0% !important; */
    flex-wrap: nowrap!important;
    
  }
  .navcard2 .dropdown-item {
    font-size: 9px !important;
  }
  .navlinkgifclass{
    width: 242px !important;
    height: 114px !important;
    margin-left: 35px !important;
  }
  .navcard{
    margin-left: -20px !important;
  }
  .navcard2{
    padding-left: 0px!important;
  }
  .navbar-nav .dropdown-menu {
  height: 183px;
  width: 382px !important;
  margin-bottom: 10px;
  }
  .navcard2.data-eng-pad{
    padding-left: 1px !important;
  }
  .logo{
    margin-left: -92px;
  }
  .n-w{
    width: 100px;
  }

}


@media only screen and (min-width: 761px) and (max-width: 991px)  {
  .mobile-res{
    display: none!important;
  }
  .navbar-light .navbar-toggler {
    margin-top: 10px;
    margin-bottom: 10px;
    }
  .expertise{
    margin-left: 0px!important;
  }
  .navbar{
    padding: 0px;
  }
  .acceleratorsclass{
    margin-right: 0px;
    font-size: 14px;
    padding: 12px 25px !important;
    margin-bottom: 15px;
    margin-top: 10px;
    
  }
  .contact {
    margin-bottom: 20px!important;
  }
  .navbar-nav .dropdown-menu {
    transform: translateX(3%)!important;
  }
  .insights-width-parent .insights-width{
    /* width: 0% !important; */
    flex-wrap: nowrap!important;
    
  }
  .navcard2 .dropdown-item {
    font-size: 13px !important;
  }
  .navlinkgifclass{
    width: 182px !important;
    height: 137px !important;
    margin-left: 70px !important;
    margin-top: 26px;

  }
  .navcard{
    margin-left: -20px !important;
  }
  .navcard2{
    padding-left: 0px!important;
  }
  .navbar-nav .dropdown-menu {
  height: 242px;
  width: 437px !important;
  margin-bottom: 10px;
  }
  .navcard2.data-eng-pad{
    padding-left: 1px !important;
  }
  .logo{
    margin-left: -92px;
  }
  .n-w{
    width: 100px;
  }

}